{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Heure</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Heure</th>
                <td>{{ entity.heure }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('heure') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('heure_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
